APP_NAME="Sukli"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sukli
DB_USERNAME=sukli_user
DB_PASSWORD=

SESSION_LIFETIME=120
LOGIN_MAX_ATTEMPTS=5
LOGIN_LOCKOUT_MINUTES=15
